@import "reset";

body {
  background: #ddd;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgb(74, 20, 223);
    color: white;
    font-size: 20px;
    box-shadow: 0px 6px 30px -11px rgba(0, 0, 0, 0.75);
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .item {
      background: #fff;
      color: #bbb;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      width: 50vw;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
      font-size: 0.8em;

      .header {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        margin-bottom: 5px;

        .avatar {
          vertical-align: middle;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }

        span {
          display: block;
          margin-bottom: 5px;
        }

        .postedAt {
          font-size: 0.7em;
          margin-top: 5px;
        }
      }

      p {
        line-height: 1.4;
      }
    }
  }
}
